.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #252529;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #0C0C0D;
}